.form-control {
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

form {
    background-color: transparent;
    padding: var(--form-padding);
    justify-content: space-between;
    border-radius: var(--border-radius);
}

form * {
    color: var(--black);
    font-weight: normal;
}

form ul {
    padding: 0;
}

form ul li {
    margin: 5px 0;
    display: inline-flex;
    align-items: baseline;
    width: 100%
}

form input[type="file"]{
    display: none;
}

form label {
    font-size: var(--font-size-xs);
    text-align: left;
}

form input {
    border: none;
    border-bottom: 2px solid var(--blueblack);
    color: var(--white);
    font-size: var(--font-size-xs);
    text-transform: uppercase;
    background: transparent;
}

form input:focus {
    outline: none;
    border-color: var(--accent-color);
}

form input:hover {
    border-color: var(--accent-color);
}

form div.flex-row {
    align-items: flex-end;
}

form label#file-label {
    border: 1px var(--black) dashed;
    border-radius: var(--border-radius);
    margin: 0 auto;
    height: 150px;
    display: flex; align-items: center; justify-content: center;
    cursor: pointer;
    width: 200px;
}

form label#file-label:hover {
    border-color: var(--accent-color);
} form label#file-label:hover > span {
    color: var(--accent-color);
}

#bg-selector {
    padding: 0;
    margin-right: 20px;
    transform: translateY(-75%);
    justify-content: center;
}

#bg-selector li {
    width: 20px;
    height: 20px;
    border-radius: 10%;
}
#bg-selector li:hover {
    cursor: pointer;
}

.gradient-1 { background: var(--gradient-1); } .gradient-2 { background: var(--gradient-2); } .gradient-3 { background: var(--gradient-3); }
.gradient-4 { background: var(--gradient-4); } .gradient-5 { background: var(--gradient-5); }

.active-gradient {
    border: 2px solid var(--blue);
}

#get-id-btn {
    margin-left: 1rem;
    align-self: flex-end;
    margin-bottom: 2.5rem;
}

/* Share ID */

#share-id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

#share-id img {
    width: 100%;
}

#share-id ol li {
    color: var(--white)
}

#social-share-links {
    padding: 0
} #social-share-links li {
    display: inline;
} #social-share-links li a button {
    margin: 0.25em 0;
} 

.step-1-text {
    margin-left: 5%;
}

.step2-share-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    cursor: pointer;
    padding: 0
} .step2-share-links li:hover {
    color: var(--blue)
}

.next-step-btn {
    width: 40%;
    margin-left: 30%;
    margin-top: 1rem;
}

#email-form {
    background: none !important;
    text-align: center !important;
    width: 100% !important;
}
#email-form input {
    border-bottom: 2px solid var(--white);
    margin-top: 1em;
    width: 100%;
    text-align: center;
}
.email-form-btn {
    margin-top: 2.5rem;
}

h3.form-title {
    font-size: var(--font-size-xs);
}

@media screen and (max-width: 768px) {

    #bg-selector {
        margin-right: unset;
        transform: unset;
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        align-items: center;
    }

    #get-id-btn {
        margin-left: unset;
        align-self: unset;
        margin-top: 2.5rem;
    }

    #share-id-container {
        height: 100%
    }
    
    #share-id-container img {
        width: 350px;
    }

    .form-control {
        justify-content: unset;
        height: unset;

    }

    h3.form-title {
        font-size: unset;
    }

    form input {
        outline: none;
        border-radius: 0;
    }

    .step-1-text {
        margin-left: 0
    }

    form label {
        font-size: unset;
    }

    .next-step-btn {
        width: unset;
        margin-left: unset;
    }

    .email-form-container {
        height: 100vh;
        justify-content: center;
        width: 100%;
        padding: 0 !important
    }

    #email-form {
        padding: 0
    }
}










.card-item__logo{
    position: absolute;
    right: 25px;
    top: 15px;
    height: 100px;
}


.card-item__chip {
    position: absolute;
    left: 25px;
    top: 25px;
    height: 50px; 
}

.formDetails {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    z-index: 1000;
}


.parallax-card-layers {
    z-index: 10 !important;
}

.formInputs{
    opacity: 0.5;
    font-size: 16px;
    text-align: center; 
    left: 30px;
}