.topHeader div ul {
    padding-right: 10px;
}

.topHeader span {
    margin-left: 10px;
}

.pageHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    z-index: 100;
    padding: 20px;
}

.topHeader {
    justify-content: center;
}