.topHeader{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-top: 7px;
    top: 0;
    left: 0;
    right: 0;
}

.topHeader div ul {
    padding-right: 10px;
    z-index: 9999;
}

.topHeader div ul a {
   text-decoration: none !important;
}